@inherits LayoutComponentBase
@using AppServer.Utils
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Nav

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-mortarboard-fill me-2"></span>Quiz App
        </NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="bi bi-house-fill" aria-hidden="true"></span> Hjem
                    </NavLink>
                </li>
                
                @if (IsAuthenticated)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="myquizzes">
                            <span class="bi bi-folder-fill" aria-hidden="true"></span> Mine Quizzer
                        </NavLink>
                    </li>
                    
                    <li class="nav-item">
                        <NavLink class="nav-link" href="quiz/create">
                            <span class="bi bi-plus-circle-fill" aria-hidden="true"></span> Opret Quiz
                        </NavLink>
                    </li>
                }
            </ul>
            
            <ul class="navbar-nav">
                @if (IsAuthenticated)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="logout">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Log ud
                        </NavLink>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Log ind
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="register">
                            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Opret bruger
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<main class="container-fluid">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool IsAuthenticated
    {
        get
        {
            try
            {
                var httpContext = HttpContextAccessor.HttpContext;
                if (httpContext == null) return false;
                
                // Read from COOKIE (survives navigation)
                var userId = httpContext.Request.Cookies[CookieKeys.UserId];
                return !string.IsNullOrEmpty(userId);
            }
            catch
            {
                return false;
            }
        }
    }
}
